/* S Core Dream */
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url("../text/SCDream1.woff") format("woff"),
  url("../text/SCDream1.woff2") format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url("../text/SCDream2.woff") format("woff"), 
  url("../text/SCDream2.woff2") format("woff2");
}

@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../text/SCDream3.woff") format("woff"), url("../text/SCDream3.woff2") format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../text/SCDream4.woff") format("woff"), url("../text/SCDream4.woff2") format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../text/SCDream5.woff") format("woff"),
  url("../text/SCDream5.woff2") format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../text/SCDream6.woff") format("woff"),
  url("../text/SCDream6.woff2") format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:url("../text/SCDream7.woff") format("woff"), url("../text/SCDream7.woff2") format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:url("../text/SCDream8.woff") format("woff"), url("../text/SCDream8.woff2") format("woff2");
}
@font-face {
  font-family: "SCDream";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:url("../text/SCDream9.woff") format("woff"), url("../text/SCDream9.woff2") format("woff2");
}

/* 본명조  NotoSerifKR*/
@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:url("../text/NotoSerifKR-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:url("../text/NotoSerifKR-Light.woff") format("woff");
}
@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:url("../text/NotoSerifKR-Regular.woff") format("woff");
}
@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:url("../text/NotoSerifKR-Medium.woff") format("woff");
}
@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:url("../text/NotoSerifKR-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:url("../text/NotoSerifKR-Bold.woff") format("woff");
}
@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:url("../text/NotoSerifKR-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "NotoSerifKR";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:url("../text/NotoSerifKR-Black.woff") format("woff");
}

/* NotoSansKR*/
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:url("../text/NotoSansKR-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:url("../text/NotoSansKR-Light.woff") format("woff");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:url("../text/NotoSansKR-Regular.woff") format("woff");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:url("../text/NotoSansKR-Medium.woff") format("woff");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:url("../text/NotoSansKR-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:url("../text/NotoSansKR-Bold.woff") format("woff");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:url("../text/NotoSansKR-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:url("../text/NotoSansKR-Black.woff") format("woff");
}

/* Paperlogy*/
@font-face {
  font-family: "Paperlogy";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:url("../text/Paperlogy-8ExtraBold.woff") format("woff");
}